[Oo]bj/
[Bb]in/
TestResults/
PerfResults/
.nuget/
.fake/
_ReSharper.*/
.idea/
*.sln.iml
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
*.lock.json
*.db
.vs/
[Tt]ools/Cake.*
[Tt]ools/NBench.*
[Tt]ools/NBench
/build/
.dotnet/
DotNetty.*.nuget.targets
*.exe